<h1 #h1></h1>
<main>
  <section>
    <p>New Note</p>

    <mat-form-field>
      <mat-label>Due date</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        (dateChange)="addEvent($event)"
      />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </section>
  <section>
    <ul>
      <div *ngFor="let note of notes" class="loop">
        Title: {{ note?.title }} <br />
        note: {{ note?.description }} <br />
        Due Date:{{ note.date }}
      </div>
    </ul>
  </section>
</main>

<div>
  <ul></ul>
</div>
